@import url('https://fonts.googleapis.com/css2?family=Anta&family=Yanone+Kaffeesatz:wght@400..700&display=swap');


* {
    /*border: 1px solid black;*/
    /*font-family: "Anta", sans-serif;*/
    font-family: "Yanone Kaffeesatz", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.app{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-color: var(--gradient-down);

}