:root{
    --main-button-color: #7fffd4;
    --gradient-top: #84FFFF;
    --active-button-color: dodgerblue;
    --gradient-down: #D1FFFF;
    --price-color-red: firebrick;
    --accept-green: #008000;
}
