


.vars{
    --startMargin: 100%;
    --endMargin: 22%;
}


.container{
    width: 1440px;
    height: 500px;
    position: absolute;
    background-image: url("../images/ADcasinoBanner.png");
    margin-top: 100%;
    z-index: 1;
}



/*.mainButton{*/
/*    background: none;*/
/*    width: 1440px;*/
/*    height: 500px;*/
/*}*/

.startAnimation{
    animation: appearance 4000ms;
}
.setEndMargin{
    bottom: 0;
}

.showed{
    display: none;
}

.cancelDiv{
    width: 25px;
    height: 25px;
    background: none;
    border-radius: 50%;


}
.cancelButton {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url('../images/cancel.png');
    margin-left: 90%;

}
@keyframes appearance{
    0%{
        bottom: 3000px;
    }
    100%{
        bottom: 0;
    }
}

@media (max-width: 1399px){
    .container{
        display: none;
    }
}