
.container{
    max-width: 400px;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--gradient-top);
    visibility: hidden;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 240px;
    font-size: 30px;
    padding: 10px;
    color: var(--accept-green);
}
.show{
    visibility: visible;
}

/*.visible{*/
/*    animation: toVisible 1000ms;*/
/*}*/


/*.hidden{*/
/*    animation: toHidden 1000ms;*/
/*}*/

/*@keyframes toVisible {*/
/*    from {*/
/*        visibility: hidden;*/
/*    }*/

/*    to {*/
/*        visibility: visible;*/
/*    }*/
/*}*/

/*@keyframes toHidden {*/
/*    from {*/
/*        visibility: visible;*/
/*    }*/

/*    to {*/
/*        visibility: hidden;*/
/*    }*/
/*}*/