.container{
    border: 1px solid black;
    width: 300px;
    height: 400px;
    background:#d1ffff;
    font-family: "Anta", sans-serif;
    font-size: large;
    margin: 20px 20px 20px 20px;
}
.container:hover{
    transform: scale(1.5);
}

.imgDiv{

    max-width: 100%;
    max-height: 200px;
    background: white;

}


.img{
    max-width: 200px;
    max-height: 200px;
}


.title{

}

.price{

}

.category{

}


/*id:1,*/
/*title:'...',*/
/*price:'...',*/
/*category:'...',*/
/*description:'...',*/
/*image:'...'*/