
.container {
    border: 1px solid darkblue;
    border-radius: 10px;
    max-width: fit-content;
    margin: 0;
    padding: 0;
    background-color: #d1ffff;
}

.imgDiv{
    max-width: 200px;
    max-height: 200px;
    background: black;
    border-radius: 10px;
    border-bottom: 1px solid darkblue;
}



.image{
    max-width: 200px;
    max-height: 200px;
    opacity: 80%;
    border-radius: 10px;
}

.image:hover{
    opacity: 100%;
}

.name {
    font-family: "Anta", sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}